@model IEnumerable<Airlines.Web.Models.AdminPanel.PlaneOverviewViewModel>

@{
    ViewData["Title"] = "Всі літаки";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Додати</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelClassesNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeats)
            </td>
            <td>
                @String.Join(", ", item.TravelClassesNames)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Видалити", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
